@tailwind base;
@tailwind components;
@tailwind utilities;

body { background-color: #1a1a1a; }

/* Стабильный макет при появлении/исчезновении скроллбара */
@supports (scrollbar-gutter: stable) {
  html { scrollbar-gutter: stable both-edges; }
}

/* Скрыть полосу прокрутки (если нужно) */
body::-webkit-scrollbar { width: 0; } /* webkit */
body { -ms-overflow-style: none; }    /* IE/Edge Legacy */

/* Глобальная блокировка скролла для документа */
html.hidden-scroll,
body.hidden-scroll {
  overflow: hidden !important;
}

/* (опционально) фиксы iOS дерганья */
@supports (-webkit-touch-callout: none) {
  html.hidden-scroll,
  body.hidden-scroll {
    position: relative;
    width: 100%;
  }
}

/* (опционально) системная тёмная тема */
:root { color-scheme: dark; }
